// Variables
@import "variables";

// Bootstrap
@import "bootstrap";

.navbar {
  border-radius: 0;
  margin: 0;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.table .thumbnail {
  margin: 0;
}
